<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="example-spacer">LetsBuyCoZa</span>
      <span class="example-spacer">
        <a
          mat-raised-button
          color="primary"
          class="example-spacer"
          >Shopping Cart</a
        >
      </span>
  
      <span *ngIf="loggedIn" class="example-spacer"
        >Hello {{ info.username }}</span
      >
      <div class="example-icon">
        <a
          mat-raised-button
          color="primary"
          class="example-icon"
          routerLink="home"
          >Home</a
        >
      </div>
  
      <div *ngIf="user" class="example-icon">
        <a
          mat-raised-button
          color="primary"
          class="example-icon"
          routerLink="user"
          >User Board</a
        >
      </div>
      <!-- <div *ngIf="admin" class="example-icon">
        <a
          mat-raised-button
          color="primary"
          class="example-icon"
          routerLink="admin"
          >Admin Board</a
        >
      </div> -->
      <div *ngIf="pm" class="example-icon">
        <a mat-raised-button color="primary" class="example-icon" routerLink="pm"
          >PM Board</a
        >
      </div>
      <div *ngIf="!loggedIn" class="example-icon">
        <a
          mat-raised-button
          color="primary"
          class="example-icon"
          routerLink="auth/login"
          >Login</a
        >
      </div>
      <div *ngIf="!loggedIn" class="example-icon">
        <a
          mat-raised-button
          color="primary"
          class="example-icon"
          routerLink="signup"
          matTooltip="If You Do Not Have An Account"
          >Register</a
        >
      </div>
      <div *ngIf="loggedIn" class="example-icon">
        <button
          mat-raised-button
          color="primary"
          class="example-icon"
          (click)="logout()"
        >
          Logout
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>