<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="example-icon">
      <a
        mat-raised-button
        color="primary"
        class="example-icon"
        routerLink="admin/product/add"
        >Add A Product</a
      >
    </span>
    <span class="example-icon">
      <a mat-raised-button color="primary" class="example-icon" 
      routerLink="admin/product/list"
        >List Of Products</a
      >
    </span>
    <span class="example-icon">
        <a mat-raised-button color="primary" class="example-icon"
          >Add A User</a
        >
      </span>
      <span class="example-icon">
        <a mat-raised-button color="primary" class="example-icon"
          >List Of Users</a
        >
      </span>
      <span class="example-icon">
        <a mat-raised-button color="primary" class="example-icon"
          >View Feedback</a
        >
      </span>
      <span class="example-icon">
        <a mat-raised-button color="primary" class="example-icon"
          >Respond To Feedback</a
        >
      </span>
  </mat-toolbar-row>
</mat-toolbar>
