<br />
<mat-card class="example-card" *ngIf="p">
  <mat-card-header>
    <div mat-card-avatar>R{{p.productPrice}}</div>
    <mat-card-title>
      {{p.productName}}
    </mat-card-title>
    <mat-card-subtitle>{{p.productBrand}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>  
    Quantity:
    {{p.productQuantity}}
    <mat-tab-group>
      <mat-tab label="Description">
        {{p.productDescription}} </mat-tab>
      <mat-tab label="Departments">
        <mat-list role="list">
          <mat-list-item role="listitem" *ngIf="p.productTag1">{{p.productTag1}}</mat-list-item>

          <mat-list-item role="listitem" *ngIf="p.productTag2">{{p.productTag2}}</mat-list-item>
          <mat-list-item role="listitem" *ngIf="p.productTag3">{{p.productTag3}}</mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab label="Tags"> 
        <mat-list role="list">
          <mat-list-item role="listitem" *ngIf="p.productTag4">{{p.productTag4}}</mat-list-item>
          <mat-list-item role="listitem" *ngIf="p.productTag5">{{p.productTag5}}</mat-list-item>
          <mat-list-item role="listitem" *ngIf="p.productTag6">{{p.productTag6}}</mat-list-item>
          <mat-list-item role="listitem" *ngIf="p.productTag7">{{p.productTag7}}</mat-list-item>
          <mat-list-item role="listitem" *ngIf="p.productTag8">{{p.productTag8}}</mat-list-item>
          <mat-list-item role="listitem" *ngIf="p.productTag9">{{p.productTag9}}</mat-list-item>
          <mat-list-item role="listitem" *ngIf="p.productTag10">{{p.productTag10}}</mat-list-item>
          <mat-list-item role="listitem" *ngIf="p.productTag11">{{p.productTag11}}</mat-list-item>
          <mat-list-item role="listitem" *ngIf="p.productTag12">{{p.productTag12}}</mat-list-item>
          <mat-list-item role="listitem" *ngIf="p.productTag13">{{p.productTag13}}</mat-list-item>
          <mat-list-item role="listitem" *ngIf="p.productTag14">{{p.productTag14}}</mat-list-item>
          <mat-list-item role="listitem" *ngIf="p.productTag15">{{p.productTag15}}</mat-list-item>
        </mat-list>  
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-card-actions>

    <button mat-button (click)="deleteProduct(p.productID)">DELETE</button>
    <button mat-button (click)="updateProduct()">UPDATE</button>
    <button mat-button (click)="listProduct()">LIST</button>
  </mat-card-actions>
</mat-card>
